<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>xcalp</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We use your location to automatically set regional preferences like measurement units and date formats.</string>
    <key>NSLocationUsageDescription</key>
    <string>Location is used to provide region-appropriate settings and comply with local medical regulations.</string>
</dict>
</plist>
